.section-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}

button,
a {
  cursor: pointer;
}
